
input{
    width: 100%;
    text-align: left;
    height: 3rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: bisque;
}
button{
    width: 80%;
    font-size: 2rem;
}
.myrow{
    display: flex;
    align-items: center;
    justify-content: center;
}


